In [1]:
import numpy as np
a = np.array([1, 2, 3])

In [2]:
a

array([1, 2, 3])

In [3]:
a[1]

2

In [5]:
b = np.array([1, 2, 'a'])
b

array(['1', '2', 'a'], dtype='<U11')

In [6]:
c = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
c

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [7]:
zero_array = np.zeros((2, 2))
zero_array

array([[0., 0.],
       [0., 0.]])

In [8]:
one_array = np.ones((2, 2, 3), dtype=int) # 3D one integer matrix
one_array

array([[[1, 1, 1],
        [1, 1, 1]],

       [[1, 1, 1],
        [1, 1, 1]]])

In [24]:
rand_array = np.random.rand(2, 3)
rand_array

array([[0.26560409, 0.64680897, 0.86832094],
       [0.30053351, 0.5216211 , 0.17411866]])

In [18]:
a[1]

2

In [13]:
np.random.rand?

In [19]:
c[1,1]

5

In [20]:
c[1]

array([4, 5, 6])

In [22]:
d = np.random.rand(2, 3, 4)
d

array([[[0.92804715, 0.89238851, 0.3569421 , 0.66142   ],
        [0.879883  , 0.75327918, 0.80161022, 0.41964763],
        [0.98290891, 0.0741501 , 0.78838198, 0.58827644]],

       [[0.52405801, 0.18832613, 0.78088241, 0.91981163],
        [0.41902744, 0.69322688, 0.64026577, 0.2549787 ],
        [0.72844995, 0.90509834, 0.79362383, 0.81298525]]])

In [23]:
d[1, :2, 1:]

array([[0.18832613, 0.78088241, 0.91981163],
       [0.69322688, 0.64026577, 0.2549787 ]])

In [25]:
d.shape

(2, 3, 4)

In [27]:
np.reshape(d, (6, 2, 2))

array([[[0.92804715, 0.89238851],
        [0.3569421 , 0.66142   ]],

       [[0.879883  , 0.75327918],
        [0.80161022, 0.41964763]],

       [[0.98290891, 0.0741501 ],
        [0.78838198, 0.58827644]],

       [[0.52405801, 0.18832613],
        [0.78088241, 0.91981163]],

       [[0.41902744, 0.69322688],
        [0.64026577, 0.2549787 ]],

       [[0.72844995, 0.90509834],
        [0.79362383, 0.81298525]]])

In [28]:
d.T

array([[[0.92804715, 0.52405801],
        [0.879883  , 0.41902744],
        [0.98290891, 0.72844995]],

       [[0.89238851, 0.18832613],
        [0.75327918, 0.69322688],
        [0.0741501 , 0.90509834]],

       [[0.3569421 , 0.78088241],
        [0.80161022, 0.64026577],
        [0.78838198, 0.79362383]],

       [[0.66142   , 0.91981163],
        [0.41964763, 0.2549787 ],
        [0.58827644, 0.81298525]]])

In [ ]:
--------------------------------------------------------------------------------------------------------------------------------

In [50]:
sample = np.random.normal()
sample

0.9787379841057392

In [32]:
np.random.normal?

In [34]:
samples = np.random.normal(loc=100, scale=10, size=(2, 3))

samples

array([[ 95.47319373,  96.88856646, 108.69593573],
       [ 96.67203918, 105.03804911, 101.13963089]])

In [35]:
sampled = np.random.poisson(lam=10, size=(2, 2))
sampled

array([[17, 13],
       [19, 16]])

In [37]:
np.random.randint(low=0, high=10, size=(2, 5))

array([[3, 1, 2, 5, 6],
       [0, 0, 3, 5, 3]])

In [38]:
np.random.choice([1, 3, 4, -6], size=(2, 2))

array([[ 4,  3],
       [ 3, -6]])

In [39]:
e = [1, 2, 3, 4]

In [44]:
for _ in range(3):
    np.random.shuffle(e)
    print(e)

[3, 1, 2, 4]
[1, 2, 4, 3]
[1, 3, 2, 4]

In [45]:
import random

In [46]:
random.seed(0)

In [47]:
np.random.seed(0)

In [ ]:
--------------------------------------------------------------------------------------------------------------------------------

In [51]:
import pandas as pd

In [52]:
my_dict = {'col1': [1, 2], 'col2': np.array([3, 4]),'col3': [5, 6]}

df = pd.DataFrame(my_dict)

df

   col1  col2  col3
0     1     3     5
1     2     4     6

In [53]:
my_array = np.array([[1, 3, 5], [2, 4, 6]])

alt_df = pd.DataFrame(my_array, columns=['col1', 'col2', 'col3'])

alt_df

   col1  col2  col3
0     1     3     5
1     2     4     6

In [54]:
df.loc[0]

col1    1
col2    3
col3    5
Name: 0, dtype: int64

In [56]:
df.loc[[0,1]]

   col1  col2  col3
0     1     3     5
1     2     4     6

In [58]:
df.loc[0, ['col2', 'col3']]

col2    3
col3    5
Name: 0, dtype: int64

In [59]:
df['col3']

0    5
1    6
Name: col3, dtype: int64